<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Quiz</h2>
        <form method="POST">
            {% for question in questions %}
                <p>{{ question }}</p>
                {% for key, value in options[question].items() %}
                    <label><input type="radio" name="{{ question }}" value="{{ key }}" required> {{ value }}</label><br>
                {% endfor %}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>